<?php
return array(
    'db' => array(
        'username' => '',
        'password' => '',
        'adapters' => array(
            'mmguide' => array(
                'database' => '',
                'driver' => 'PDO_Mysql',
                'username' => '',
                'password' => '',
            ),
        ),
    ),
    'statuslib' => array(
        'array_mapper_path' => 'data/statuslib.php',
    ),
    'contentful' => array(
        'space' => '',
        'token' => '',
    ),
    'zf-mvc-auth' => array(
        'authentication' => array(
            'adapters' => array(
                'basic' => array(
                    'adapter' => 'ZF\\MvcAuth\\Authentication\\HttpAdapter',
                    'options' => array(
                        'accept_schemes' => array(
                            0 => 'basic',
                        ),
                        'realm' => 'api',
                        'htpasswd' => 'data/api.htpasswd',
                    ),
                ),
            ),
        ),
    ),
);
